@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
   text-align: center;
   font-family: 'Roboto';
   margin: 7%;
   box-shadow: 0 1px 2px 1px;
   font-style: italic;
}

h1 {
   cursor: pointer;
   font-size: 80px;
   background-color: rgb(179, 177, 177);
}

p {
   font-size: 22px;
   width: auto;
}

.nextButton {
   background-color: grey;
   font-size: 18px;
   border-radius: 5px;
   font-weight: 600;
   padding: 5px;
   margin: 5px;
}

.nextButton:hover {
   background-color: rgb(182, 178, 178);
   cursor: pointer;
}